* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Nunito Sans", sans-serif;
    --primary-color: #5CFF85;
    --primary-color-light: #E2FFE9;
    --secondary-color: #1D1929;
    --neutral-white: #fff;
    background: var(--neutral-white);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Container  */
.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:    "nav nav nav"
                            "hero hero hero"
                            "section-1 section-1 section-1"
                            "section-2 section-2 section-2"
                            "section-3 section-3 section-3"
                            "section-4 section-4 section-4"
                            "footer footer footer";
}

/* Navigation */
.nav {
    grid-area: nav;
    background: var(--neutral-white);
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    height: 5em;
}
.nav-links {
    display: flex;
}
.nav-links a {
    padding: 0.25em;
    margin: 0 0.75em;
    font-size: 1rem;
    font-weight: 500;
}
.nav-links a:hover {
    border-bottom: 0.5em solid var(--primary-color);
}

/* Hero */
.hero {
    grid-area: hero;
    background: var(--secondary-color);
    background-image: url(img/hero-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10em 0;
}
.hero h1 {
    font-family: var(--primary-font);
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--neutral-white);
    padding: 0.25em;
}
.hero p {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-color-light);
    padding: 0.25em;
}
.hero-btn a {
    margin: 1em 0.75em;
}
.btn-solid {
    cursor: pointer;
    display: inline-block;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 1.1em 1em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.btn-ghost {
    cursor: pointer;
    display: inline-block;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    padding: 1em 1em;
    color: var(--neutral-white);
    border: 2px solid var(--neutral-white);
}
.btn-solid:hover {
    color: var(--primary-color);
    background: var(--neutral-white);
}
.btn-ghost:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Section 1  */
.section-1 {
    grid-area: section-1;
    width: 100%;
    height: 40rem;
    padding: 5em;
    margin: auto;
    background-image: url(img/section-1-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5em;
}
.wrapper-text {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-text h2{
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: left;
    margin-bottom: 0.75em;
}
.wrapper-text p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: left;
    margin-top: 0.75em;
}
.wrapper-img img {
    max-width: 100%;
    height: auto;
}

/* Section 2  */
.section-2 {
    grid-area: section-2;
    width: 100%;
    height: 24em;
    padding: 6em;
    margin: auto;
}
.section-2 h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
}
.icon-list {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5em;
    grid-column: 1 / 4;
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icon-item img {
    max-width: 100%;
    height: auto;
}
.icon-item h3 {
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
    margin: auto;
}
.icon-item p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: #1D1929;
    text-align: center;
}

/* Section 3  */
.section-3 {
    grid-area: section-3;
    width: 100%;
    height: 120em;
    margin: auto;
    background-image: url(img/section-4-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-3 h2 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 5em;
}
.card-list {
    margin: 5em auto;
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-gap: 2.5em;
    justify-content: center;
}
.card-item {
    overflow: hidden;
    background: #fff;
    width: 18em;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
    opacity: 0.5;
}
.card-item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}
.card-item h4 {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
    padding: 3.75em 2em;
}
.section-3 .card-btn {
    display: flex;
    justify-content: center;
}

/* Section 4  */
.section-4 {
    grid-area: section-4;
    width: 100%;
    height: 50em;
    margin: auto;
}
.section-4 h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 2em;
}
.recipe-wrapper {
    padding: 2em 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:    "img-wrapper table-wrapper table-wrapper";
}
.img-wrapper {
    grid-area: img-wrapper;
    margin: auto;
}
.img-wrapper img {
    max-width: 100%;
    height: auto;
}
.table-wrapper {
    grid-area: table-wrapper;
    padding: 2em;
}
.table-wrapper .index{
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.table-wrapper .index:hover{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    border-bottom: 8px solid var(--primary-color)
}
.table-wrapper .description {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 1.25em 1.5em;
}
.section-4 .recipe-btn {
    display: flex;
    justify-content: center;
}
.section-4 .recipe-btn .btn-solid{
    margin: 2em;
}

/* Social  */
.footer {
    grid-area: footer;
    width: 100%;
    height: 20em;
    background-image: url(img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.social {
    padding-top: 10em;
}
.social h3 {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--neutral-white);
    text-align: center;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 1.5em;
}
.links a i {
    font-size: 2rem;
    color: var(--neutral-white);
}
.links a i:hover {
    font-size: 1.75rem;
    color: var(--primary-color)
}

/* Responsive  */
@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .nav-links {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    .wrapper-text {
        width: 32em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper-text h2{
        text-align: center;
        margin-bottom: 0.75em;
    }
    .wrapper-img {
        margin: auto;
        width: 75%;
    }
    .section-2 {
        height: 26em;
        padding-top: 6em;
    }
    .icon-list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.75em;
        padding: 4em;
    }
    .icon-item img {
        width: 45%;
    }
    .icon-item p {
        display: none;
    }
    .section-3 {
        height: 100em;
    }
    .section-3 h2 {
        font-size: 1.75rem;
        padding-top: 6em;
    }
    .card-list {
        margin: 4em auto;
        grid-template-columns: repeat(3, 16em);
        grid-gap: 0.5em;
    }
    .card-item {
        width: 15em;
    }
    .section-4 {
        height: 52em;
    }
    .section-4 h2 {
        font-size: 1.75rem;
        padding-top: 1.75em;
    }
    .recipe-wrapper {
        padding: 1em 4em;
    }
    .table-wrapper {
        grid-area: table-wrapper;
        padding: 1.5em;
    }
    .table-wrapper .index{
        font-size: 2rem;
    }
    .table-wrapper .index:hover{
        font-size: 2rem;
    }
    .table-wrapper .description {
        padding: 1em 1.25em;
    }
    .section-4 .recipe-btn .btn-solid{
        margin: 2em;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 12px;
    }
    .nav-links {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    .wrapper-text {
        width: 24em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .wrapper-text h2{
        text-align: center;
        margin-bottom: 0.75em;
    }
    .wrapper-img {
        margin: auto;
        width: 75%;
    }
    .section-2 {
        height: 36em;
        padding-top: 4em;
    }
    .icon-list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.75em;
        padding: 2em;
    }
    .icon-item img {
        width: 30%;
    }
    .icon-item p {
        display: none;
    }
    .section-3 {
        height: 240em;
    }
    .section-3 h2 {
        font-size: 1.5rem;
        padding-top: 14em;
    }
    .card-list {
        margin: 4em auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.75em;
    }
    .card-item {
        width: 16em;
    }
    .section-4 {
        height: 52em;
    }
    .section-4 h2 {
        font-size: 1.25rem;
        padding-top: 1.75em;
    }
    .recipe-wrapper {
        padding: 2em 5em;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:    "table-wrapper";
    }
    .img-wrapper img {
        display: none
    }
    .table-wrapper {
        grid-area: table-wrapper;
        padding: 2em;
    }
    .recipe-wrapper {
        padding: 1em 2em;
    }
    .table-wrapper {
        grid-area: table-wrapper;
        padding: 1.5em;
    }
    .table-wrapper .index{
        font-size: 2rem;
    }
    .table-wrapper .index:hover{
        font-size: 2rem;
    }
    .table-wrapper .description {
        padding: 1em 1.25em;
    }
    .section-4 .recipe-btn .btn-solid{
        margin: 2em;
    }
}

/* Animations  */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}

30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}

40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
@keyframes tada {
0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}

30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}

40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
.tada {
-webkit-animation-name: tada;
animation-name: tada;
}