* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Rubik", sans-serif;
    background-color: #fff;
    font-size: 16px;
}
a {
    color: #1D1929;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    margin: auto;
    background: #fff;
}

/* Navigation */
.nav-main {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 0;
}
.nav-logo {
    width: 160px;
    margin-left: 142px;
}
.nav-main .btn-solid {
    margin-right: 142px;
}
.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a{
    padding: 2px;
    font-size: 1rem;
    font-weight: 500;
}
.nav-main ul li a:hover {
    border-bottom: 8px solid #5CFF85;
}
.nav-main ul.nav-links {
    display: flex;
}

/* Hero */
.hero {
    width: 100%;
    height: 715px;
    background: #1D1929;
    background-image: url(img/hero-background.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 142px;
    color: #fff;
}
.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0;
}
.hero p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #E2FFE9;
    margin: 20px 0;
}
.hero-btn a {
    margin: 40px 20px;
}
.btn-solid {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 18px 20px;
    color: #1D1929;
    background-color: #5CFF85;
}
.btn-ghost {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 20px;
    color: #fff;
    border: 2px solid #fff;
}
.btn-solid:hover {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 18px 20px;
    color: #1D1929;
    color: #26D953;
    background:#fff;
}
.btn-ghost:hover {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 20px;
    color: #5CFF85;
    border: 2px solid #5CFF85;
}

/* Section 1  */
.section-1 {
    width: 100%;
    height: 600px;
    background-image: url(img/section-1-background.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: top center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 142px;
    padding: 60px 0;
}
.wrapper-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper-text h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1929;
    text-align: left;
    margin-bottom: 12px;
}
.wrapper-text p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1929;
    text-align: left;
    margin-top: 12px;
}
.wrapper-img img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
/* Section 2  */
.section-2 {
    width: 80%;
    height: 480px;
    margin: auto;
    padding: 40px 0;
}
.section-2 h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    margin: 48px 0;
}
.icon-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin: 12px 0;
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icon-item img {
    width: 120px;
    height: 120px;
}
.icon-item h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    margin: 12px 0;
}
.icon-item p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1929;
    text-align: center;
}

/* Section 3  */
.section-3 {
    width: 100%;
    height: 1800px;
    margin: auto;
    background-image: url(img/section-4-background.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: top center;
}
.section-3 h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    padding-top: 180px;
}
.card-list {
    width: 75%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.card-item {
    background: #fff;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
    opacity:0.5;
}
.card-item:hover {
    background: #fff;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity:1;
    cursor: pointer;
}
.card-item h4 {
    font-size: 1rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    padding: 60px 32px;
}
.section-3 .card-btn {
    display: flex;
    justify-content: center;
}

/* Section 4  */
.section-4 {
    width: 100%;
    height: 880px;
    margin: auto;
}
.section-4 h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    margin: 80px 0;
}
.recipe-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 40px 142px;
}
.img-wrapper {
    margin: auto;
}
.table-wrapper table {
    width: 100%;
    padding-left: 60px;
}
.table-wrapper .index{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1D1929;
}
.table-wrapper .index:hover{
    font-size: 44px;
    font-weight: 700;
    color: #1D1929;
    border-bottom: 8px solid #5CFF85;
}
.table-wrapper .description {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1D1929;
    padding: 20px 24px;
}
.section-4 .recipe-btn {
    display: flex;
    justify-content: center;
}
.section-4 .recipe-btn .btn-solid{
    margin: 40px;
}

/* Social  */
.social {
    margin: 24px;
}
.social h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1D1929;
    text-align: center;
    margin: 20px 0;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 12px 28px;
}
.links a i {
    font-size: 3rem;
}
.links a i:hover {
    font-size: 2.5rem;
    color: #5CFF85;
}

/* Responsive  */


/* Animations  */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated:hover {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}

30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}

40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
@keyframes tada {
0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}

30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}

40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
.tada {
-webkit-animation-name: tada;
animation-name: tada;
}